@model AspNetCoreMvcPractice.Core.DTOs.ProductDto
@{
    ViewData["Title"] = "Delete";
}

<h1>停用產品</h1>
<h3>您確定要停用這個產品嗎？</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">產品名稱</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.ProductName)</dd>
        <dt class="col-sm-4">單價</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.UnitPrice)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="確認停用" class="btn btn-danger" /> |
        <a asp-action="Index">返回列表</a>
    </form>
</div>