@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Core MVC 與 Web API 的練習專案</h1>
    <div class="mt-5">
        <p>請點擊下方按鈕開始管理Northwin產品資料</p>
        <a class="btn btn-primary btn-lg" asp-controller="Products" asp-action="Index">前往產品管理</a>
    </div>
</div>